*.iml
*.ipr
*.iws
.idea/

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#dev folders
npm-debug.log
deploy/*
test/*
node_modules/*